@model IEnumerable<FGR.Models.Challenge>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Game.GameTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ranking.ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ranking1.ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Game.GameTitle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ranking.ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ranking1.ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
