@model FGR.Models.Player

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Player</legend>

    <div class="display-label">
         @Html.Label("Nickname")
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Nickname)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Status)
    </div>
    <div class="display-field">
        @{
            if (Model.Status == false)
            {
                @Html.Label("Inactivo");
            }
            else
            {
                @Html.Label("Activo");
            }
        }
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Eliminar" /> |
        @Html.ActionLink("Volver al listado de jugadores", "Index") |
        @Html.ActionLink("Detalles", "Details", new { id=Model.ID }) |
        @Html.ActionLink("Editar", "Edit", new {id=Model.ID})
    </p>
}
